body{
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'RoundedFixedsys';

    align-items: center;
    flex-direction: column;

    height: 100vh;

}

@font-face{
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicLight.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


header{
    padding: 16px;
    background-color: yellow;
    color: black;
}

footer{
    padding: 16px;
    background-color: black;
    color: white;
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text{
    font-size: 64px;
}
.mid-text{
    font-size: 32px;
}